<center>
<div class="container">
<div class="card" id="homeCard">
<div class="card-image">
<img [src] = "homeImage" id="homeImage">
</div>
<center>
<div class="card-title" id="cardTitle">
<span>Create Account Or Login</span>
</div>
</center>
<div class="card-content">
<button mat-raised-button id="loginButton" color = "primary" [routerLink] = "['/login']">Login</button>
<button mat-raised-button id="registerButton" color = 'accent' [routerLink] = "['/register']">Register</button>
</div>
</div>
</div>
</center>
